# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HoaxBuster.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\ProjectUnity\WPG 4\HoaxBuster\.idea\.idea.HoaxBuster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
